<ion-view view-title="SA Voting Lights">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getProcess()">
    </ion-refresher>
  <style>
  .spinner svg {
    width: 12px;
    height: 12px;
    stroke: #444;
    fill: #444;
  }


  </style>
    <div data-ng-init=""> <!--login.show()-->
      <img src="img/redhatlogo.png" class="myLogo">
      <h2 class="myBrand">Poll Registration</h2>
    </div>
    <div class="informationDash" data-ng-init="getProcess()">
      <h4>Name/Your ID (optional)</h4>
      <div class="list">

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-social-tux placeholder-icon"></i>
          <input type="text" placeholder="Your name/identifier (optional)">
        </label>
        <button class="button button-full button-positive">
          Register this device
        </button>
      </div>
    </div>
      </div>
    </div>
  </ion-content>
</ion-view>
